<!--================ Header Menu Area start =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <a class="navbar-brand logo_h" href="/"><img src="../../../assets/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-end">
                        <li class="nav-item "><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item "><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/practice">Practice Areas</a>
                            <li class="nav-item "><a class="nav-link" href="/attorneys">Attorneys</a>

                                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->

<!--================ Hero sm Banner start =================-->
<section class="hero-banner hero-banner--sm">
    <div class="hero-banner__content text-center">
        <h1>Practice Areas</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Practice Areas</li>
            </ol>
        </nav>
    </div>
</section>
<!--================ Hero sm Banner end =================-->

<!--================ Subject section start =================-->
<section class="section-margin">
    <div class="container">
        <div class="section-intro text-center pb-65px">
            <h2 class="section-intro__title">Our Practice Area</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-4 mb-4 mb-xl-0">
                <div class="card card-subject">
                    <div class="card-subject__img">
                        <img class="card-img rounded-0" src="../../../assets/img/home/subject-1.png" alt="">
                        <div class="card-subject__imgOverlay">
                            <img src="../../../assets/img/home/hover-icon.png" alt="">
                        </div>
                    </div>
                    <div class="card-subject__body">
                        <h3><a>Employment Law</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6 col-xl-4 mb-4 mb-xl-0">
                <div class="card card-subject">
                    <div class="card-subject__img">
                        <img class="card-img rounded-0" src="../../../assets/img/home/subject-2.png" alt="">
                        <div class="card-subject__imgOverlay">
                            <img src="../../../assets/img/home/hover-icon.png" alt="">
                        </div>
                    </div>
                    <div class="card-subject__body">
                        <h3><a>Personal Injury</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6 col-xl-4 mb-4 mb-xl-0">
                <div class="card card-subject">
                    <div class="card-subject__img">
                        <img class="card-img rounded-0" src="../../../assets/img/home/subject-3.png" alt="">
                        <div class="card-subject__imgOverlay">
                            <img src="../../../assets/img/home/hover-icon.png" alt="">
                        </div>
                    </div>
                    <div class="card-subject__body">
                        <h3><a>Family Law</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6 col-xl-4 mb-4 mb-xl-0">
                <div class="card card-subject">
                    <div class="card-subject__img">
                        <img class="card-img rounded-0" src="../../../assets/img/home/subject-4.png" alt="">
                        <div class="card-subject__imgOverlay">
                            <img src="../../../assets/img/home/hover-icon.png" alt="">
                        </div>
                    </div>
                    <div class="card-subject__body">
                        <h3><a>Bank & Financial</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Subject section end =================-->


<!--================ Cta section start =================-->
<section class="section-padding--smaller cta-wrapper">
    <div class="container">
        <div class="cta__content text-center">
            <h2>Free Case Evaluation</h2>
            <p>Get in touch with us for your free case evaluation now</p>
            <a href="/contact" class="button button-cta">Contact us</a>
        </div>
    </div>
</section>
<!--================ Cta section end =================-->
