<div class="practice-bg">
    	<!-- BANNER -->
	<div class="section banner-page" data-background="../../../assets/images/home01.jpg">
		<div class="content-wrap pos-relative">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="d-flex bd-highlight mb-3">
							<div class="title-page">Practice Areas</div>
						</div>
						<div class="d-flex bd-highlight mb-3">
						    <nav aria-label="breadcrumb">
							  <ol class="breadcrumb ">							    
							    <li class="breadcrumb-item active" aria-current="page">Some Legal Practice Areas</li>
							  </ol>
							</nav>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CONTENT -->
	<div class="section">
		<div class="content-wrap">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-8">

						<div class="row ">
							<div class="col-sm-12 col-md-12 cover">
								<img src="../../../assets/images/business.jpg" alt="" class="img-fluid">
							</div>
						</div>

						<div class="row pt-5 pb-5">
							<div class="col-sm-12 col-md-12">
								<h2 class="section-heading">
									Business Law
								</h2>
								<p>Corporate law involves the formation, dissolution, and all other legal aspects of the administration of corporations. Typical duties of corporate lawyers include mergers, acquisitions, internal reorganization, or disputes between corporations and individuals concerning liability, patents, and compliance with state and federal law, as well as international accords. A legal professional whose sole client is a corporation is generally known as in-house counsel</p>
								<a href="/contact-us" class="btn btn-secondary">Schedule meeting</a>

							</div>
						</div>

						<hr class="content">

						
						<div class="row">
							<div class="col-sm-12 col-md-12 cover">
								<img src="../../../assets/images/tax.jpg" alt="" class="img-fluid">
							</div>
						</div>

						<div class="row pt-5 pb-5">
							<div class="col-sm-12 col-md-12">
								<h2 class="section-heading">
									Tax Law
								</h2>
								<p>Tax law is a dynamic field that deals with domestic and international transactions. Because of the frequent modifications to local, state, and federal codes and the complexity of fiscal policy that guides these changes, experts in tax law engage in continuous education at greater rates than in many other fields of law. Apart from ensuring the legality of the levies on economic transactions, tax lawyers help clients reduce fiscal liabilities.</p>
								<a href="/contact-us" class="btn btn-secondary">Schedule meeting</a>

							</div>
						</div>

						<hr class="content">

						
						<div class="row">
							<div class="col-sm-12 col-md-12 cover">
								<img src="../../../assets/images/family.jpg" alt="" class="img-fluid">
							</div>
						</div>

						<div class="row pt-5 pb-5">
							<div class="col-sm-12 col-md-12">
								<h2 class="section-heading">
									Family Law
								</h2>
								<p>Family law focuses on legal relations between individuals in the context of the family. Lawyers in this field typically work in smaller firms and specialize in a variety of areas ranging from child welfare, through adoption, to divorce. Child abuse, legitimacy, civil unions, domestic partnerships, and marriages are among the main aspects of family lawyers’ practice.</p>
								<a href="/contact-us" class="btn btn-secondary">Schedule meeting</a>

							</div>
						</div>

						<hr class="content">

						
						<div class="row" id="inherit">
							<div class="col-sm-12 col-md-12 cover">
								<img src="../../../assets/images/inheritance.jpg" alt="" class="img-fluid">
							</div>
						</div>

						<div class="row pt-5 pb-5">
							<div class="col-sm-12 col-md-12">
								<h2 class="section-heading">
									Inheritance Law
								</h2>
								<p>are those statutes and regulations affecting who is entitled to receive what from the estate of a deceased relative. Some relatives, such as spouses and children, have a right to claim an inheritance and can even do so despite the express terms of a will</p>
								<a href="/contact-us" class="btn btn-secondary">Schedule meeting</a>

							</div>
						</div>

						<hr class="content">

						
						<div class="row" id="international">
							<div class="col-sm-12 col-md-12 cover">
								<img src="../../../assets/images/international.jpg" alt="" class="img-fluid">
							</div>
						</div>

						<div class="row pt-5 pb-5">
							<div class="col-sm-12 col-md-12">
								<h2 class="section-heading">
									International Law
								</h2>
								<p>International law is broad in its conception and can be broken down into private and public sectors. In the private sector, specialists in international law may work in finance and trade divisions of multinational corporations. Familiarity with business essentials, as well as corporate law or intellectual property law would be helpful in this field. In the public international law, practitioners would work on cases that involve dealings between sovereign nations. Familiarity with comparative law or public international law would be most helpful for effective practice in this field. Both private and public international law are interdisciplinary in nature and would involve an understanding of the differences between common law and civil law systems across borders.</p>
								<a href="/contact-us" class="btn btn-secondary">Schedule meeting</a>

							</div>
						</div>

						<hr class="content">

						

					</div>

					<div class="col-sm-12 col-md-12 col-lg-4">
						<div class="widget categories">
							<ul class="category-nav">
								<li><a href="/practice-areas/#business" >Business Law</a></li>
								<li><a href="/practice-areas/#tax" >Tax Law</a></li>
								<li><a href="/practice-areas/#family" >Family Law</a></li>
								<li><a href="/practice-areas/#inherit">Inheritance Law </a></li>
								<li><a href="/practice-areas/#international">International Law</a></li>
							</ul>
						</div>

						<div class="widget">
							<div class="rs-box-widget bg-secondary">
								<div class="icon">
									<i class="fa fa-phone"></i>
								</div>
								<div class="body">
									<h3>How Can We Help You?</h3>
									<p>Get in touch with us now and you will be the happiest person on earth</p>
									<a href="contact-us" class="text-primary">CONTACT US</a>
								</div>
							</div>
						</div>

					

					</div>
					<!-- End Sidebar -->
				</div>
			</div>
		</div>
	</div>

</div>