	<!-- BANNER -->
	<div class="section banner-page" data-background="../../../assets/images/team.jpg">
		<div class="content-wrap pos-relative">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="d-flex bd-highlight mb-3">
							<div class="title-page">Attorneys</div>
						</div>
						<div class="d-flex bd-highlight mb-3">
						    <nav aria-label="breadcrumb">
							  <ol class="breadcrumb ">
							    <li class="breadcrumb-item active" aria-current="page">MEET THE TEAM</li>
							  </ol>
							</nav>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- HOW TO HELP US -->
	<div class="section">
		<div class="content-wrap">
			<div class="container">
				<div class="row">
					<!-- Item 1 -->
					<div class="col-sm-6 col-md-4 col-lg-4 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a><img src="../../../assets/images/team01.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a >JAMES MILNER</a></div>
								<div class="position">INTERNATIONAL LAWYER</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a href="#"><i class="fa fa-facebook"></i></a> 
									<a href="#"><i class="fa fa-twitter"></i></a> 
									<a href="#"><i class="fa fa-instagram"></i></a> 
									<a href="#"><i class="fa fa-linkedin"></i></a> 
								</div>
							</div>
						</div>
					</div>
					<!-- Item 2 -->
					<div class="col-sm-6 col-md-4 col-lg-4 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a><img src="../../../assets/images/team04.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a >NATHANIEL PHILLIPS</a></div>
								<div class="position">FAMILY LAWYER</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a href="#"><i class="fa fa-facebook"></i></a> 
									<a href="#"><i class="fa fa-twitter"></i></a> 
									<a href="#"><i class="fa fa-instagram"></i></a> 
									<a href="#"><i class="fa fa-linkedin"></i></a> 
								</div>
							</div>
						</div>
					</div>
					<!-- Item 3 -->
					<div class="col-sm-6 col-md-4 col-lg-4 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a ><img src="../../../assets/images/team02.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a >ELLA DOEL</a></div>
								<div class="position">INHERITANCE LAWYER</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a href="#"><i class="fa fa-facebook"></i></a> 
									<a href="#"><i class="fa fa-twitter"></i></a> 
									<a href="#"><i class="fa fa-instagram"></i></a> 
									<a href="#"><i class="fa fa-linkedin"></i></a> 
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
