	<!-- BANNER -->
    <div id="oc-fullslider" class="banner">
    	<div class="owl-carousel owl-theme full-screen">
	    	<div class="item">
	        	<img src="../../../assets/images/home01.jpg" alt="Slider">
	        	<div class="overlay-bg"></div>
	        	<div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
		                <h1 class="caption-heading">Welcome to</h1>
		                <h1 class="caption-heading-sub">Andy Harris Law Firm</h1>
		                <p>We are a Leading firm in financial and business industry</p>
		                <a href="contact-us" class="btn btn-primary">FREE CONSULTATION</a>
		            </div>  
	            </div>
	    	</div>
	    <!-- 	<div class="item">
	            <img src="../../../assets/images/home02.jpg" alt="Slider">
	            <div class="overlay-bg"></div>
	            <div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
		                <h1 class="caption-heading">Welcome to<br>Law & Attorney.</h1>
		                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
		                <a href="#" class="btn btn-primary">LEARN MORE</a>
		            </div>  
	            </div>
	        </div>  -->
    	</div>
	    <div class="custom-nav owl-nav"></div>
    </div>	

    <!-- CTA -->
	<div class="section">
		<div class="content-wrap my-bg py-0">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="cta-overlap clearfix">
			              	<div class="body-text mb-3">
			                	<h3 class="my-1 text-white">The Attorneys You Want On Your Side</h3>
			                	<p class="uk18 mb-0 text-primary">Every case is very important to us and we always take care of them seriously.</p>
			              	</div>
			              	<div class="body-action">
			                	<a href="contact-us" class="btn btn-primary btn-overlay">CONTACT US</a>
			              	</div>
			            </div>
					</div>
				</div>
			</div>
		</div>
	</div>	
    	<!-- OUR PROMISE? -->
        <div class="section">
            <div class="content-wrap pb-0">
                <div class="container">
                    <div class="row align-items-end">
						<div class="col-sm-12 col-md-12 col-lg-6">
                            <img src="../../../assets/images/group.jpg" alt="" class="img-fluid img-border">
						</div>
						
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <p class="subtitle mb-41">Andy Harris Law Firm</p>
                            <h2 class="section-heading mt-3">
                                Our Team
                            </h2>
                            
                                    
                            <p class="p-height">We’re a financial and consulting business company of professional thinkers, strategists, digital innovators, designers and problem solvers (everyone gets a mention). Our sense of curiosity brings
    
                                thinkers, strategists, digital innovators, designers and problem solvers (everyone gets a mention). Our sense of curiosity brings brands to life, gets them talking, and makes sure they’re heard above.</p>
                            <!-- <blockquote class="quote">
                                <p class="uk18">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <footer class="blockquote-footer">Carol Mongol <cite title="Source Title">Rometheme</cite></footer>
                            </blockquote> -->
                            <div class="spacer-content"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        


	<!-- FUN FACT -->
	<div class="section bgi-cover-center" data-background="images/dummy-img-1920x900-3.jpg">
		<div class="content-wrap my-bg">
			<div class="container">

				<div class="row">
					
					<!-- Item 1 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<div class="icon">
								<i class="fa fa-balance-scale"></i>
							</div>
							<div class="body-content">
								<h2 class="num">2120</h2>
								<p class="uk18">Succesful Cases</p>
							</div>
						</div>
					</div>

					<!-- Item 2 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<div class="icon">
								<i class="fa fa-gavel"></i>
							</div>
							<div class="body-content">
								<h2 class="num">312</h2>
								<p class="uk18">Cases Closed</p>
							</div>
						</div>
					</div>

					<!-- Item 3 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<div class="icon">
								<i class="fa fa-users"></i>
							</div>
							<div class="body-content">
								<h2 class="num">3120</h2>
								<p class="uk18">Trusted Clients</p>
							</div>
						</div>
					</div>

					<!-- Item 4 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<div class="icon">
								<i class="fa fa-briefcase"></i>
							</div>
							<div class="body-content">
								<h2 class="num">25</h2>
								<p class="uk18">Expert Team</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
    </div>

	<!-- OUR PROMISE? -->
	<div class="section">
		<div class="content-wrap pb-0">
			<div class="container">
				<div class="row align-items-end">
					<div class="col-sm-12 col-md-12 col-lg-6">
                        <p class="subtitle mb-41">Andy Harris Law Firm</p>
						<h2 class="section-heading mt-3">
							Our Customers are of great value to us
						</h2>
						
			                	
						<p class="p-height">We work closely with our clients in seeking positive results for them. This has enabled us to contribute to our clients achieving specified goals, and also helped many start-up companies become dynamic businesses. We are retained by large, small and medium-sized companies.</p>
					
						<div class="spacer-content"></div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-6">
						<img src="../../../assets/images/hands.jpg" alt="" class="img-fluid img-border">
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<!-- WHY CHOOSE -->

	