.title-page{
    color: #fff;
}

.section-heading {
    font-size: 35px;
    line-height: 1em;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 5px;
    position: relative;
    color: #223555;
}