	<!-- BANNER -->
	<div class="section banner-page" data-background="../../../assets/images/home01.jpg">
		<div class="content-wrap pos-relative">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="d-flex bd-highlight mb-3">
							<div class="title-page">About Us</div>
						</div>
						<div class="d-flex bd-highlight mb-3">
						    <nav aria-label="breadcrumb">
							  <ol class="breadcrumb ">
							    <li class="breadcrumb-item active" aria-current="page">Getting to know us start from here</li>
							  </ol>
							</nav>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- WELCOME TO LAWE -->
	<div class="section">
		<div class="content-wrap">
			<div class="container">
				<div class="row top">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<h2 class="section-heading">
                            Welcome To Andy Harris Law Firm
						</h2>
						<p class="subheading mb-4">"we always take care of clients seriously"</p>
						<p>Our premier clients are businesses and multinational firms including banks and other financial institutions, insurance companies, companies in the energy sector, telecoms, waste management and sanitation, heavy duty equipment and statutory authorities. We also act for a mix of other businesses.</p>
						<p>We work closely with our clients in seeking positive results for them. This has enabled us to contribute to our clients achieving specified goals and also helped many start-up companies become dynamic businesses. We are retained by large, small and medium-sized companies.</p>

					</div>
					<!-- <div class="col-sm-12 col-md-12 col-lg-6">
						<img src="images/dummy-img-600x400.jpg" alt="" class="img-fluid mt-3">
					</div> -->
				</div>
				
			</div>
		</div>
	</div>

	<!-- FUN FACT -->
	<div class="section bgi-cover-center" data-background="../../../assets/images/static.jpg">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					
					<!-- Item 1 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<!-- <div class="icon">
								<i class="fa fa-balance-scale"></i>
							</div> -->
							<div class="body-content">
								<h2>1999</h2>
								<p class="uk18">Operating for over 20 years</p>
							</div>
						</div>
					</div>

					<!-- Item 2 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<!-- <div class="icon">
								<i class="fa fa-gavel"></i>
							</div> -->
							<div class="body-content">
								<h2>+50,000</h2>
								<p class="uk18">Client Consultations</p>
							</div>
						</div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<!-- <div class="icon">
								<i class="fa fa-balance-scale"></i>
							</div> -->
							<div class="body-content">
								<h2>2120</h2>
								<p class="uk18">Succesful Cases</p>
							</div>
						</div>
					</div>

					<!-- Item 3 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<!-- <div class="icon">
								<i class="fa fa-users"></i>
							</div> -->
							<div class="body-content">
								<h2>4.98/5</h2>
								<p class="uk18">Client rating</p>
							</div>
						</div>
					</div>

					<!-- Item 4 -->
					<!-- <div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<div class="icon">
								<i class="fa fa-briefcase"></i>
							</div>
							<div class="body-content">
								<h2>25</h2>
								<p class="uk18">Expert Team</p>
							</div>
						</div>
					</div> -->

				</div>
			</div>
		</div>
	</div>

	<!-- FAQS -->
	<div class="section">
		<div class="content-wrap pb-0">
			<div class="container">

				<div class="row">
					
					<!-- <div class="col-sm-12 col-md-12">
						<h2 class="section-heading">
							Frequently Ask Question
						</h2>
						<p class="subheading mb-4">"we always take care of clients seriously"</p>
					</div> -->
				</div>

				<div class="row align-items-center mt-5">
					
					<div class="col-sm-12 col-md-12 col-lg-5">
						<img src="../../../assets/images/harris.jpg" alt="" class="img-fluid img-border">
					</div>
					<div class="col-sm-12 col-md-12 col-lg-7">
												
						<div class="accordion rs-accordion" id="accordionExample">
						   <!-- Item 1 -->
						   <div class="card">
						      <div class="card-header" id="headingOne">
						         <h3 class="title">
						            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						            About Harris
						            </button>
						         </h3>
						      </div>
						      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						         <div class="card-body">
                                   <p>Our premier clients are businesses and multinational firms including banks and other financial institutions, insurance companies, companies in the energy sector, telecoms, waste management and sanitation, heavy duty equipment and statutory authorities. We also act for a mix of other businesses.</p>
                                   <p>We work closely with our clients in seeking positive results for them. This has enabled us to contribute to our clients achieving specified goals and also helped many start-up companies become dynamic businesses. We are retained by large, small and medium-sized companies.</p>
						         </div>
						      </div>
						   </div>
						  
						</div>
						<!-- end accordion -->

					
					
					</div>

				</div>

			</div>
		</div>
	</div>
