h2, .top p {
    text-align: center;
}

.title-page{
    color: #fff;
}

.top p{
    padding-left: 10%;
    padding-right: 10%;
    color: #777;
    font-weight: 400;
}

.rs-icon-funfact .body-content {
    margin-left: 0px;
    border-left: 1px solid #b89b5e;
    padding-left: 10px;
}